body {
    background-color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin-left: 50px;
}

#head {
    background-color: #ebebeb;
    color: #777;
    margin-right: 50px;

}

#nav {
    background-color: #ebebeb;
    color: #777;
    margin-top: 10px;
    margin-right: 50px;
}

#footer {
    background-color: #ebebeb;
    color: #777;
    margin-top: 10px;
    margin-right: 50px;

}

#section {
    width: 495px;
    background-color: #ebebeb;
    color: #777;
    margin-top: 10px;
    margin-right: 50px;
}

#article {
    background-color: #777;
    color: #ebebeb;
    width: 396px;
    text-align: center;
    margin-left: 50px;
    

}
#h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ebebeb;
    color: #777;
}

#p {
    background-color: #ebebeb;
    color: #777;
}

#aside {
    width: 495px;
    background-color: #ebebeb;
    color: #777;
    margin-top: 10px;
    margin-right: 50px;

}